package partials

templ HelloForm() {
	<form
		hx-post="/hello"
		method="POST"
		hx-target="#hello-container"
		hx-confirm="Are you sure?"
	>
		<input id="name" name="name" type="text"/>
		<button type="submit">Submit</button>
	</form>
}

templ HelloPost(name string) {
	<div>Hello, { name }</div>
}
